.containerGlobal {
    display: flex;
    flex-direction:column;
}

.goBack{
    margin-top:5em;
    margin-left:2em;
}

.caratula {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}

.imagen {
    padding: 2em;
    cursor: pointer;
}

.cardMovie {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    display: flex;
    justify-content: center;
    padding: 1em;
    width: 24em;
    text-align: center;
    font-size: 1.75em;
    line-height: 1.3;
    color: #85cfec;
    font-size: large;
    font-weight: bold;
    padding: 1em;
}

.dia {
    display: flex;
    color: #85cfec;
    padding: 1em;
}

.descripcion {
    display: flex;
    color: white;
    text-align: justify;
    width: 30em;
}