.create {
    background-color: #F5FFFA;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.headerCreate {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 2em;
}

.headerRegister {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.linkBack {
    color: #11537A;
}

.buttonCreate {
    margin-top: 1em;
    margin-bottom: 1em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    border: none;
    color: #11537A;
    background-color: #a5c4c7;
    cursor: pointer;
    border-radius: 0.6em;
    padding: 0.3em;
}

.buttonCreate:hover {
    background-color: #11537A;
    color: #3EB6C2;
}

.noStyle {
    margin-top: 1em;
    margin-bottom: 1em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    border: none;
    color: #11537A;
    background-color: #a5c4c7;
    cursor: pointer;
    border-radius: 0.6em;
    padding: 0.3em;
}

.noStyle:hover {
    background-color: #11537A;
    color: #3EB6C2;
}

.button {
    text-decoration: none;
    border: none;
    color: #11537A;
    background-color: #a5c4c7;
}

.button:hover {
    background-color: #11537A;
    color: #3EB6C2;
}

.create-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 40vh;
}

.create-form input {
    border-radius: 0.6em;
    background-color: #e4e6eb;
    width: 15em;
    text-align: center;
    height: 2.5em;
}

